* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0b1320;
  color: #fff;
}

.navbar {
  background-color: #0b1320;
  border-bottom: 2px solid #00eeff;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #00f2ff;
  font-weight: bold;
  font-size: 1.3rem;
}

nav a {
  color: #00ddff;
  text-decoration: none;
  margin: 0 15px;
  transition: 0.3s;
  border: 1px solid #00c6ff;
  padding: 8px 12px;
  border-radius: 18px;
}

nav a:hover, nav a.active {
  background-color: #00c6ff;
  color: #0b1320;
  box-shadow: 0 0 15px #00c6ff;
}

.login-btn {
  background: transparent;
  border: 1px solid #00c6ff;
  color: #00c6ff;
  border-radius: 25px;
  padding: 8px 18px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #00c6ff;
  color: #0b1320;
  box-shadow: 0 0 15px #00c6ff;
}

/* ABOUT SECTION */
.about {
  padding: 80px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.about-text {
  flex: 1;
}

.about-text h1 {
  font-size: 2.5rem;
  color: #00c6ff;
  margin-bottom: 20px;
}

.about-text h1 span {
  color: #fff;
}

.about-text p {
  margin-bottom: 15px;
  color: #ccc;
  line-height: 1.7;
  font-size: 1rem;
}

.about-img {
  flex: 1;
  text-align: center;
}

.about-img img {
  width: 250%;
  max-width: 550px;
  margin-left: 6rem;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 198, 255, 0.4);
  transition: transform 0.3s ease;
}

.about-img img:hover {
  transform: scale(1.05);
}


.vision {
  text-align: center;
  padding: 60px 10%;
  background-color: #162233;
  border-top: 1px solid #00c6ff33;
}

.vision h2 {
  color: #00c6ff;
  font-size: 2rem;
  margin-bottom: 15px;
}

.vision p {
  color: #ccc;
  max-width: 700px;
  margin: 0 auto 10px;
  line-height: 1.6;
}

.our-values {

  text-align: center;
  padding: 80px 10%; 
  background-color: #0b1320; 
}
.our-values .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-values h2 {
    color: #00c6ff;
    font-size: 3rem;
    margin-bottom: 40px;
}

.values-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 30px;

}

.value-item {
    background-color: #162233;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(0, 198, 255, 0.3);
}

.value-item i {
    color: #00c6ff;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.value-item h4 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.value-item p {
    color: #aaa;
    font-size: 0.95rem;
}


.footer {
  background-color: #0b1320;
  padding: 60px 10% 30px;
  border-top: 1px solid #14263a;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  margin-bottom: 20px;
}

.footer h3, .footer h4 {
  color: #00c6ff;
  margin-bottom: 10px;
}

.footer a, .footer p {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer a:hover {
  color: #00c6ff;
  text-shadow: 0 0 8px #00c6ff;
}

.copy {
  text-align: center;
  color: #666;
  font-size: 0.85rem;
}
