.contact-header {
  text-align: center;
  padding: 80px 10%;
  background-color: #0b1320;
}

.contact-header h1 {
  color: #00c6ff;
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.contact-header p {
  color: #ccc;
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

.contact-grid-section {
  padding: 50px 10%;
  background-color: #111a27;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 40px;
}

.contact-info-card, .contact-form-card {
  background-color: #162233;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 198, 255, 0.1);
}

.contact-info-card h2, .contact-form-card h2 {
  color: #00f2ff;
  margin-bottom: 30px;
  font-size: 1.6rem;
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.info-item i {
  color: #00c6ff;
  font-size: 1.5rem;
  margin-right: 15px;
  min-width: 25px;
}

.info-item h4 {
  color: #fff;
  margin-bottom: 4px;
  font-size: 1.1rem;
}

.info-item p {
  color: #aaa;
  font-size: 0.95rem;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  color: #fff;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 0.95rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #00c6ff;
  border-radius: 8px;
  background-color: #0b1320;
  color: #fff;
  transition: 0.3s;
  resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #00c6ff;
  border-color: #00eeff;
}

.submit-btn {
  width: auto;
  min-width: 180px;
  margin-top: 10px;
  padding: 12px 30px;
  font-size: 1rem;
}

.location-map {
    padding: 60px 10%;
    text-align: center;
}

.location-map h2 {
    color: #00c6ff;
    font-size: 2rem;
    margin-bottom: 30px;
}

.map-container {
    height: 450px; 
		width: 550px;
    background-color: #162233;
    border: 2px solid #00c6ff;
    border-radius: 15px;
    overflow: hidden; 
}

.map-container iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.map-address-text {
    color: #fff;
    font-size: 1.1rem;
    margin-top: 15px;
}

.map-placeholder {
    height: 300px; 
    background-color: #162233;
    border: 2px solid #00c6ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.map-placeholder p {
    color: #fff;
    font-size: 1.1rem;
    margin-top: 15px;
}


@media (max-width: 900px) {
    .contact-grid {
        grid-template-columns: 1fr; 
    }
}