* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0b1320;
  color: #fff;
}

.navbar {
  background-color: #0b1320;
  border-bottom: 2px solid #00eeff;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;;
}

.logo {
  color: #00f2ff;
  font-weight: bold;
  font-size: 1.3rem;
}

nav a {
  color: #00ddff;
  text-decoration: none;
  margin: 0 15px;
  transition: 0.3s;
  border: 1px solid #00c6ff;
  padding: 8px 12px;
  border-radius: 18px;
}

nav a:hover {
   background-color: #00c6ff;
  color: #0b1320;
  box-shadow: 0 0 15px #00c6ff;

}

.login-btn {
  background: transparent;
  border: 1px solid #00c6ff;
  color: #00c6ff;
  border-radius: 25px;
  padding: 8px 18px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #00c6ff;
  color: #0b1320;
  box-shadow: 0 0 15px #00c6ff;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 200px 30px

}

.hero-text h1 {
  color: #00c6ff;
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-text p {
  color: #ccc;
  margin-bottom: 40px;
  max-width: 500px;
}

.glow-btn {
  background: transparent;
  border: 1px solid #00c6ff;
  color: #00c6ff;
  border-radius: 25px;
  padding: 15px 25px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.glow-btn:hover {
  background-color: #00c6ff;
  color: #0b1320;
  box-shadow: 0 0 15px #00c6ff;
}

.hero-img img {
  width: 220px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgb(0, 200, 255);
}

.footer {
  background-color: #0b1320;
  padding: 60px 10% 30px;
  border-top: 1px solid #14263a;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  margin-bottom: 20px;
}

.footer h3, .footer h4 {
  color: #00c6ff;
  margin-bottom: 10px;
}

.footer a, .footer p {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer a:hover {
  color: #00c6ff;
  text-shadow: 0 0 8px #00c6ff;
}

.copy {
  text-align: center;
  color: #666;
  font-size: 0.85rem;
}
